:root{
  justify-content: center;
  align-items: center;
  display: flex;
  background: linear-gradient(135deg, #5d7083 0%, #3498db 100%);
}

.container{
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title{
  padding: 10px 15px;
  width: 600px;
  margin-bottom: 15px;
  line-height: 40px;
  background-color: #edf046; 
  border-radius: 8px;
}

p{
  font-weight: bold;
  font-size: 22px;
  color: black; 
}
